
$primary-color : #3490ff;
$title-font-family : "Helvetica Neue";
$text-font-family-standard: "Helvetica Neue";
$text-font-family-semi-title: "Helvetica Neue";
$text-font-size-level1: 0.75rem;
$text-font-size-level2: 0.85rem;
$button-text-font-family: "Helvetica Neue";
$button-text-font-size: 0.75rem;

// I use SASS ok, don't judge.
// Plus, it's way better.

// Project Variables
$project-font: 'Fira Sans';

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

// Color Variables
$green-jade: #468966;
$yellow-bright: #FFF0A5;
$orange-light: #FFB03B;
$orange-dark: #FD7400;
$red-gentle: #B64926;
$red-light: #E74C3C;
$red-harsh: #8E2800;
$blue-navy: #2C3E50;
$white-imperfect: #ECF0F1;
$blue-sky: #3498DB;
$blue-darksky: #2980B9;
$teal: #1F8A70;
$green-hazard: #BEDB39;
$yellow-banana: #FFE11A;
$pink-hot: #F2385A;
$pink-gentle: #D95B5B;
$blue-lighter: #4AD9D9;
$blue-light: #36B1BF;
$brown-wooddark: #D95B5B;
$brown-wood: #BF8A49;
$brown-woodlight: #F2CA80;
$skin-base: #FFC794;
$skin-pale: #FADBAE;
$skin-tan1: #FFA16D;
$skin-tan2: #E87551;
$skin-tan3: #FF7865;
$purple-dark: #5C2849;
$gold-light: #FFDA66;
$gold-dark: #FFCC33;
$metal-iron: #EFEFEF;
$metal-irondark: #5F5F5F;
$metal-silver: #BFBFBF;
$metal-dark: #2F2F2F;

*{
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
ul {
     list-style-type: none;
}

table {
    display: table;
    border-collapse: collapse;
    caption-side: bottom;
    min-width: 30%;
    background-color: lighten(#53b88b,40%);
    border: 1px solid rgba(0,0,0,.5);
    caption {
        padding: 5px;
        font-style: italic;
        color: #0c3c26;
    }
    td,th {
        display: table-cell;
        border: none;
        margin: 0;
        text-align: center;
        vertical-align: center;

    }
    td {
        padding: 5px;
        border-top: 1px solid rgba(0,0,0,.1);
        color: #6a0e0e;
        height: 45px;
    }
    th{
        padding: 10px;
        background-color: transparent;
        color: black;
        font-weight: normal;
    }
    tr {
    }
}

.content-padding-level1 {
    padding: 5px;
}
.content-padding-level2{
    padding: 10px;
}
.content-padding-level3{
    padding: 15px;
}
.content-padding-level4{
    padding: 20px;
}
.content-padding-top-level1 {
    padding-top: 5px;
}
.content-padding-top-level2 {
    padding-top: 10px;
}
.content-padding-top-level3 {
    padding-top: 15px;
}
.content-padding-top-level4 {
    padding-top: 20px;
}

.content-padding-left-level1 {
    padding-left: 5px;
}
.content-padding-left-level2 {
    padding-left: 10px;
}
.content-padding-left-level3 {
    padding-left: 15px;
}
.content-padding-left-level4 {
    padding-left: 20px;
}

.border-radius-wrapper {
    border-radius: 5px;
}


.content-margin-top-level1 {
    margin-top: 5px;
}
.content-margin-top-level2 {
    margin-top: 10px;
}
.content-margin-top-level3 {
    margin-top: 15px;
}
.content-margin-top-level4 {
    margin-top: 20px;
}


.content-margin-left-level1 {
    margin-left: 5px;
}
.content-margin-left-level2 {
    margin-left: 10px;
}
.content-margin-left-level3 {
    margin-left: 15px;
}
.content-margin-left-level4 {
    margin-left: 20px;
}

.content-padding-zero{
    padding: 0;
}
.content-margin-zero{
    margin: 0;
}
.content-font-standard{
    font-family: $text-font-family-standard;
}
h3,h4,h5,h6 {
    font-family: $text-font-family-semi-title;
    font-weight: bolder;
}

.flex-wrapper {
    display: flex;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: stretch;
    -webkit-align-items: stretch;
}
.fixed-wrapper {
     position: fixed;
}
.flex-wrapper-vertical {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.flex-wrapper-horizontal {
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}
.wrapper-top-border {
    border-top: 1px solid rgba(0,0,0,0.1);
}
.wrapper-right-border {
    border-right: 1px solid rgba(0,0,0,0.1);
}